<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>Acortador de URLs</h1>

<form th:action="@{/}" method="post">
    <label for="url">Ingrese aquí su URL para recortar</label>
    <div>
        <input type="text" id="url" name="url" placeholder="Ingrese una URL" required>
        <button type="submit">Recortar</button>
    </div>
</form>

<form th:action="@{/}" method="get">
    <button type="submit">Borrar</button>
</form>

<div th:if="${shorturl}">
    <h2>URL original: <span th:text="${shorturl.url}"></span></h2>
    <h2>Dominio: <span th:text="${shorturl.sitio}"></span></h2>
    <h2>URL recortada: <a th:href="${shorturl.shortUrl}" th:text="${shorturl.shortUrl}"></a></h2>
</div>

<a th:href="@{/listofurls}">Ver las URLs recortadas</a>

</body>
</html>
