<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of shorturls</title>
</head>
<body>

    <h1>List of urls</h1>

    <h2>Buscar por sitio las urls generadas</h2>
    <form th:action="@{/listofurls}" method="get">
    <label for="sitio">Ingrese un sitio especifico</label>
        <input type="text" id="sitio" name="sitio" th:value="${sitio}">

        <button type="submit">Buscar</button>
        <a th:href="@{/listofurls}">
            <button type="button">Limpiar</button>
        </a>

    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Website</th>
                <th>Short url</th>
                <th>Sitio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="url : ${listaPorSitio}">
                <td th:text="${url.id}">ID</td>
                <td th:text="${url.url}">Website</td>
                <td th:text="${url.shortUrl}">Short Url</td>
                <td th:text="${url.sitio}">Short Url</td>
            </tr>
            <tr th:if="${listaPorSitio.size() == 0}">
                <td colspan="4">No hay resultados urls</td>
            </tr>

        </tbody>
    </table>


    <a th:href="@{/}">Volver al inicio</a>


</body>
</html>